<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-applepay"
      version="5.0.0">

    <name>Apple Pay</name>
    <description>Implements Apple Pay.</description>
    <keywords>cordova,payment,apple pay</keywords>
    <repo>https://github.com/samkelleher/cordova-plugin-applepay</repo>
 	<preference name="MERCHANT1" />
	<preference name="MERCHANT2" />
	<preference name="MERCHANT3" />
	<preference name="MERCHANT4" />
	<preference name="MERCHANT5" />
	<preference name="MERCHANT6" />
	<preference name="MERCHANT7" />
	<preference name="MERCHANT8" />
	<preference name="MERCHANT9" />
	<preference name="MERCHANT10" />
	<preference name="MERCHANT11" />
	<preference name="MERCHANT12" />
	<preference name="MERCHANT13" />
	<preference name="MERCHANT14" />
	<preference name="MERCHANT15" />
	<preference name="MERCHANT16" />
	<preference name="MERCHANT17" />
	<preference name="MERCHANT18" />
	<preference name="MERCHANT19" />
	<preference name="MERCHANT20" />
	<preference name="MERCHANT21" />
	<preference name="MERCHANT22" />
	<preference name="MERCHANT23" />
	<preference name="MERCHANT24" />
	<preference name="MERCHANT25" />
	<preference name="MERCHANT26" />
	<preference name="MERCHANT27" />
	<preference name="MERCHANT28" />
    <platform name="ios">

        <js-module src="www/applepay.js" name="payment">
            <clobbers target="ApplePay" />
        </js-module>

        <framework src="PassKit.framework"/>

        <header-file src="src/ios/CDVApplePay.h"/>
        <source-file src="src/ios/CDVApplePay.m"/>

        <config-file target="config.xml" parent="/*">
            <feature name="ApplePay">
                <param name="ios-package" value="CDVApplePay"/>
            </feature>
        </config-file>
			<!-- apple pay compatibility -->
		  <config-file target="*-Debug.plist" parent="com.apple.developer.in-app-payments">
			<array>
			  <string>$MERCHANT1</string>
				<string>$MERCHANT2</string>
				<string>$MERCHANT3</string>
				<string>$MERCHANT4</string>
				<string>$MERCHANT5</string>
				<string>$MERCHANT6</string>
				<string>$MERCHANT7</string>
				<string>$MERCHANT8</string>
				<string>$MERCHANT9</string>
				<string>$MERCHANT10</string>
				<string>$MERCHANT11</string>
				<string>$MERCHANT12</string>
				<string>$MERCHANT13</string>
				<string>$MERCHANT14</string>
				<string>$MERCHANT15</string>
				<string>$MERCHANT16</string>
				<string>$MERCHANT17</string>
				<string>$MERCHANT18</string>
				<string>$MERCHANT19</string>
				<string>$MERCHANT20</string>
				<string>$MERCHANT21</string>
				<string>$MERCHANT22</string>
				<string>$MERCHANT23</string>
				<string>$MERCHANT24</string>
				<string>$MERCHANT25</string>
				<string>$MERCHANT26</string>
				<string>$MERCHANT27</string>
				<string>$MERCHANT28</string>
			</array>
		  </config-file>

		  <config-file target="*-Release.plist" parent="com.apple.developer.in-app-payments">
			<array>
			   <string>$MERCHANT1</string>
				<string>$MERCHANT2</string>
				<string>$MERCHANT3</string>
				<string>$MERCHANT4</string>
				<string>$MERCHANT5</string>
				<string>$MERCHANT6</string>
				<string>$MERCHANT7</string>
				<string>$MERCHANT8</string>
				<string>$MERCHANT9</string>
				<string>$MERCHANT10</string>
				<string>$MERCHANT11</string>
				<string>$MERCHANT12</string>
				<string>$MERCHANT13</string>
				<string>$MERCHANT14</string>
				<string>$MERCHANT15</string>
				<string>$MERCHANT16</string>
				<string>$MERCHANT17</string>
				<string>$MERCHANT18</string>
				<string>$MERCHANT19</string>
				<string>$MERCHANT20</string>
				<string>$MERCHANT21</string>
				<string>$MERCHANT22</string>
				<string>$MERCHANT23</string>
				<string>$MERCHANT24</string>
				<string>$MERCHANT25</string>
				<string>$MERCHANT26</string>
				<string>$MERCHANT27</string>
				<string>$MERCHANT28</string>
			</array>
		  </config-file>
		<!-- Adding Associated Domains -->	  
	  		  <config-file target="*-Debug.plist" parent="com.apple.developer.associated-domains">
			<array>
			  <string>webcredentials:digital.enterprisetouch.com</string>
			</array>
		  </config-file>

		  <config-file target="*-Release.plist" parent="com.apple.developer.associated-domains">
			<array>
			  	<string>webcredentials:digital.enterprisetouch.com</string>
			</array>
		  </config-file>
		  
		  <!-- Adding autofill-credential-provider -->	  
	  	   <config-file target="*-Debug.plist" parent="com.apple.developer.authentication-services.autofill-credential-provider">
			  		<true/>
		  </config-file>

		  <config-file target="*-Release.plist" parent="com.apple.developer.authentication-services.autofill-credential-provider">
			   	<true/>
		  </config-file>
		  
	
    </platform>

</plugin>
